@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  display: grid;
  grid-template-rows: auto 1fr;
  /* Header takes auto height, the rest is 1fr (remaining space) */
  grid-template-columns: 1fr;
  height: 100vh;
  /* Full viewport height */
}
